<div class="books-list">
  <div class="title row">
    <h2 class="col-10">Notre collection de livres</h2>
    <div class="col-2"><button class="btn btn-primary">Ajouter un livre</button></div>
  </div>
  <div>
    <div class="pagination">
      <div>
        <select (change)="changeBooksPerPage($event)">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        livres par pages
      </div>
      <div>
        <span><button [disabled]="pageNumber <= 1" (click)="firstPage()" class="btn"><i class="fa fa-angle-double-left"></i></button></span>
        <span><button [disabled]="pageNumber <= 1" (click)="prevPage()" class="btn"><i class="fa fa-angle-left"></i></button></span>
        {{pageNumber}} / {{pagesCount}} pages
        <span><button [disabled]="pageNumber >= pagesCount" (click)="nextPage()" class="btn"><i class="fa fa-angle-right"></i></button></span>
        <span><button [disabled]="pageNumber >= pagesCount" class="btn" (click)="lastPage()"><i class="fa fa-angle-double-right"></i></button></span>
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="text-center col-1" scope="col">
            <app-ordering fieldName="id" (changedDirection)="onOrderChanged($event)"></app-ordering>
            #
          </th>
          <th class="text-center" scope="col">
            <app-ordering fieldName="title" (changedDirection)="onOrderChanged($event)"></app-ordering>
            Titre
          </th>
          <th class="text-center col-2" scope="col">
            <app-ordering fieldName="author.name" (changedDirection)="onOrderChanged($event)"></app-ordering>
            Auteur
          </th>
          <th class="text-center col-1" scope="col">
            <app-ordering fieldName="pagesCount" (changedDirection)="onOrderChanged($event)"></app-ordering>
            Nb. pages
          </th>
          <th class="text-center col-2" scope="col">
            <app-ordering fieldName="isbn" (changedDirection)="onOrderChanged($event)"></app-ordering>
            ISBN
          </th>
          <th class="text-center col-1" scope="col">
            <app-ordering fieldName="inSell" (changedDirection)="onOrderChanged($event)"></app-ordering>
            En vente
          </th>
        </tr>
        <tr>
          <th><app-filtering fieldName="id" (changedFilter)="onFilterChanged($event)"></app-filtering></th>
          <th><app-filtering fieldName="title" (changedFilter)="onFilterChanged($event)"></app-filtering></th>
          <th><app-filtering fieldName="author.name" (changedFilter)="onFilterChanged($event)"></app-filtering></th>
          <th></th>
          <th><app-filtering fieldName="isbn" (changedFilter)="onFilterChanged($event)"></app-filtering></th>
          <th><app-filtering fieldName="inSell" (changedFilter)="onFilterChanged($event)"></app-filtering></th>
        </tr>
      </thead>
      <tbody class="no-data text-center" *ngIf="books.length == 0">
        <tr><td class="text-danger" colspan="6">Aucun livre trouvé !</td></tr>
      </tbody>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td *ngIf="book.author !== null">{{book.author.name}}</td>
          <td *ngIf="book.author === null">-</td>
          <td class="text-center">{{book.pagesCount}}</td>
          <td>{{book.isbn}}</td>
          <td class="text-center">
              <span *ngIf="book.inSell"><i class="fa fa-check text-success" aria-hidden="true"></i></span>
              <span *ngIf="!book.inSell"><i class="fa fa-times text-danger"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>