<h2>Bienvenue,</h2>
<br />
<p>Je ne sais pas trop quoi vous dire...</p>
<p>Si vous venez d'arriver vous ne devriez pas pouvoir accéder à ce lien: <a routerLink="/books">Liste des livres</a> (car vous n'êtes pas connecté).
<p>Sinon connectez-vous pour commencer !</p>

<hr />

<div class="row">
    <div class="col-6">
        <h4>Droits</h4>
        <ul>
            <li>Un utilisateur ayant le role ADMIN peut modifier les livres</li>
            <li>Un utilisateur connecté peut lister les livres présents en base de données</li>
            <li>Un utilisateur non connecté ne pourra que visualiser cette page.</li>
        </ul>
    </div>
    <div class="col-6">
        <h4>Mémo connexion</h4>
        <ul>
            <li>admin: admin@domain.tld / admin</li>
            <li>user: user@domain.tld / user</li>
        </ul>
    </div>
</div>



