/* You can add global styles to this file, and also import other style files */

header {
    background-color: #FAFAFA;
    border-bottom: solid 1px #DDD;
    padding: .5rem;
    margin-bottom: 2.5rem;
    a.navbar-brand {
        margin-right: 3rem;
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
    }
}

article {
    background-color: #FFF;
    margin-bottom: 8rem;
    .title {
        margin: 2rem 0;
        &>:first-child {
            padding-left: 0;
        }
        &>:last-child {
            padding-right: 0;
        }
    }
}

footer {
    color: #333;
    margin-top: 2.5rem;
    padding: .5rem;
    text-align: center;
    font-style: italic;
    font-size: .8rem;
    background-color: #FAFAFA;
    border-top: solid 1px #DDD;
    .documentations {
        font-style: normal;
        a {
            text-decoration: none;
        }
        a:not(:last-child):after {
            content: " | ";
        }
    }
}