
<header>
    <div class="container-xxl">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa fa-connectdevelop"></i> API Platform</a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
                        </li>
                        <li *ngIf="this.currentUserEmail !== null">
                            <a class="nav-link" routerLink="books" routerLinkActive="active">Livres</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex">
                    <div *ngIf="this.currentUserEmail === null && this.router.url !== '/login'"><button class="btn btn-secondary" type="button" [routerLink]="'login'">Connexion <i class="fa fa-sign-in"></i></button></div>
                    <div *ngIf="this.currentUserEmail !== null"><strong>{{ currentUserEmail }}</strong> <a class="btn btn-outline-danger l-3" (click)="logout()">Déconnexion <i class="fa fa-sign-out"></i></a></div>
                </form>
            </div>
        </nav>
    </div>
</header>
<article>
    <div class="container-xxl">
        <router-outlet></router-outlet>
    </div>
</article>
<footer class="fixed-bottom">
    <div class="container-xxl">
        <p>Powered by <strong>API Platform</strong> ! ;-)</p>
        <p class="documentations">Documentations:
            <a href="https://symfony.com/5" target="_blank">Symfony 5</a>
            <a href="https://api-platform.com/" target="_blank">API Platform</a>
            <a href="https://angular.io/" target="_blank">Angular</a>
        </p>
    </div>
</footer>
